!URxvt.depth: 32
URxvt*font: xft:IosevkaCC-10:weight=bold
URxvt*letterSpace: -1
! URxvt.foreground: #f6f0e8
URxvt.foreground: #dcdccc
URxvt*background: #1A1A1A
! URxvt.background: rgba:3f00/3f00/3f00/dddd
urgentOnBell: True
visualBell: True
! URxvt*saveLines: 65535
! URxvt.scrollstyle: plain
URxvt.scrollBar: false
! do not scroll with output
URxvt*scrollTtyOutput: false
! scroll in relation to buffer (with mouse scroll or Shift+Page Up)
URxvt*scrollWithBuffer: true
! scroll back to the bottom on keypress
URxvt*scrollTtyKeypress: true
URxvt.perl-ext-common: default,matcher,clipboard
Urxvt*perl-lib: /usr/lib/urxvt/perl/
URxvt.url-launcher: /usr/bin/firefox
URxvt.matcher.button: 1
URxvt.keysym.C-Delete: perl:matcher:last
URxvt.keysym.M-Delete: perl:matcher:list
URxvt.perl-ext: default,keyboard-select,url-select
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.keysym.M-w: perl:clipboard:copy
URxvt.keysym.C-y: perl:clipboard:paste
URxvt.url-select.launcher: /usr/bin/firefox -new-tab
URxvt.url-select.underline: true
URxvt.keysym.F11: perl:fullscreen:switch

Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

URxvt*colorUL: #c5f779
URxvt*underlineColor: #c5f779

URxvt*color0: #3f3f3f
URxvt*color1: #705050
URxvt*color2: #60b48a
URxvt*color3: #dfaf8f
URxvt*color4: #506070
URxvt*color5: #dc8cc3
URxvt*color6: #8cd0d3
URxvt*color7: #DCDCCC

URxvt*color8: #709080
URxvt*color9: #cc9393
URxvt*color10: #7f9f7f
URxvt*color11: #f0dfaf
URxvt*color12: #94bff3
URxvt*color13: #ec93d3
URxvt*color14: #93e0e3
URxvt*color15: #ffffff

!black
xterm*color0: #353535
xterm*color8: #666666
!red
xterm*color1: #AE4747
xterm*color9: #EE6363
!green
xterm*color2: #556B2F
xterm*color10: #9ACD32
!brown/yellow
xterm*color3: #DAA520
xterm*color11: #FFC125
!blue
xterm*color4: #6F99B4
xterm*color12: #7C96B0
!magenta
xterm*color5: #8B7B8B
xterm*color13: #D8BFD8
!cyan
xterm*color6: #A7A15E
xterm*color14: #F0E68C
!white
xterm*color7: #DDDDDD
xterm*color15: #FFFFFF

dzen2.font: xft:IosevkaCC-10:weight=bold
