if [ `uname -s` = "Linux" ]; then
    eval `dircolors -b`
fi
umask 0077

# history
HISTFILE=~/.histfile
HISTSIZE=100000
SAVEHIST=100000

source ~/common_settings
{% if ansible_distribution == "Gentoo" %}
# color definitions
fg_green=$'%{\e[0;32m%}'
fg_blue=$'%{\e[0;34m%}'
fg_cyan=$'%{\e[0;36m%}'
fg_red=$'%{\e[0;31m%}'
fg_brown=$'%{\e[0;33m%}'
fg_purple=$'%{\e[0;35m%}'

fg_light_gray=$'%{\e[0;37m%}'
fg_dark_gray=$'%{\e[1;30m%}'
fg_light_blue=$'%{\e[1;34m%}'
fg_light_green=$'%{\e[1;32m%}'
fg_light_cyan=$'%{\e[1;36m%}'
fg_light_red=$'%{\e[1;31m%}'
fg_light_purple=$'%{\e[1;35m%}'
fg_no_colour=$'%{\e[0m%}'

fg_white=$'%{\e[1;37m%}'
fg_black=$'%{\e[0;30m%}'

# prompt view
PROMPT="[${fg_green}%n(%l) ${fg_light_green}%~${fg_no_colour}] %# "
RPROMPT="${fg_green}[%D / %T]${fg_no_colour}"
{% endif %}

#setopt BEEP
setopt APPEND_HISTORY
setopt BRACECCL
setopt CORRECT_ALL
setopt EXTENDED_HISTORY
setopt HIST_EXPIRE_DUPS_FIRST
setopt HIST_FIND_NO_DUPS
setopt HIST_IGNORE_ALL_DUPS
setopt HIST_IGNORE_DUPS
setopt HIST_IGNORE_SPACE
setopt HIST_NO_STORE
setopt HIST_SAVE_NO_DUPS
setopt SHARE_HISTORY
setopt autocd
setopt correctall
setopt extended_glob
setopt inc_append_history
setopt menucomplete

autoload -Uz compinit && compinit
autoload -Uz promptinit && promptinit
autoload -Uz colors && colors
autoload -Uz vcs_info
autoload -U dot
autoload -U predict-on
autoload run-help
zmodload zsh/complist

source ~/.zsh/functions.zsh
{% if ansible_distribution == "Gentoo" %}
# ~/.cache is on tmpfs so check+recreate on system restart
! test -d {{ zsh_plugins_antibody_cache_dir }} && {{ zsh_plugins_antibody_bundle_command }}
source {{ zsh_plugins_antibody_script }}

source ~/.zsh/aliases.zsh

# former contents of "custom" subconfig =========================
# review and decide if we need it at all, then refactor or remove
[ -f $FZF_ZSH ] && source $FZF_ZSH
safeload $FZF_ZSH
export FZF_DEFAULT_OPTS="--extended-exact --cycle --ansi"

safeload ~/.oh-my-zsh/custom/plugins/zsh-notify/notify.plugin.zsh
safeload ~/.oh-my-zsh/custom/plugins/enhancd/enhancd.sh

export ENHANCD_FILTER="/usr/local/bin/peco:fzf:non-existing-filter"

source zshnip.zsh
source `which virtualenvwrapper.sh`
# ===============================================================
{% endif %}

bindkey "\e[3~" delete-char
bindkey "^qs" fuzzy-search-and-edit
bindkey ' ' magic-space # also do history expansion on space
bindkey -e
bindkey -r "^g"

zle -N dot && bindkey . dot
zle -N fbr && bindkey "^]c" fbr
zle -N fco && bindkey "^]t" fco
zle -N fcoc && bindkey "^]l" fcoc
zle -N fe && bindkey "^qe" fe
zle -N fshow && bindkey "^]s" fshow
zle -N fzf-history-widget && bindkey "^R" fzf-history-widget
zle -N jump && bindkey "^xjj" jump
zle -N predict-off
zle -N predict-on

eval "$(direnv hook zsh)"
