!! Fonts settings
! http://www.freedesktop.org/wiki/ScreenFontSettings
! Settings read by both Cairo and libXft:
Xft.antialias: true       ! Xft.antialias:  (bool)   // FC_ANTIALIAS  Whether glyphs can be antialiased
Xft.dpi: 120.0            ! Xft.dpi:        (double) // FC_DPI        Target dots per inch
Xft.hinting: true         ! Xft.hinting:    (bool)   // FC_HINTING    Whether the rasterizer should use hinting
! Xft.hintstyle: hintnone   ! Xft.hintstyle:  (int)    // FC_HINT_STYLE Automatic hinting style - hintnone hintslight hintmedium hintfull
Xft.hintstyle: hintslight
Xft.rgba: none            ! Xft.rgba:       (int)    // FC_RGBA       unknown, rgb, bgr, vrgb, vbgr, none - subpixel geometry
Xft.lcdfilter: lcddefault ! Xft.lcdfilter   (int)    // FC_LCD_FILTER type of lcd filter to use - lcdnone lcddefault lcdlight lcdlegacy
! Settings specific to libXft:
! Xft.scale (double) // FC_SCALE
! Xft.render (bool) // XFT_RENDER
! Xft.embolden (bool) // FC_EMBOLDEN true if emboldening needed
Xft.autohint: false ! Xft.autohint (bool) // FC_AUTOHINT Use autohinter instead of normal hinter
! Xft.minspace (bool) // FC_MINSPACE use minimum line spacing
! Xft.maxglyphmemory (int) // XFT_MAX_GLYPH_MEMORY

! These ones seem to be unused?
! Xft.core (bool) //  XFT_CORE
! Xft.xlft (string) // XFT_XLFD
